extends base.pug
block scripts 
  script(src='/static/index.js')

block style 
    style
        include ../static/style.css

block content 
    section#introSection
        div Welcome to ABCD Dance Academy
        div.small # ANYBODY CAN DANCE
    
    section#missionSection
        h2 Our Mission
        div.card
            h3 Dance Perfection
            div.card-box
                div.card-img
                    img(src="/static/img/1.png")
                div.card-content
                    p Where Movement Becomes Artistry
        div.card
            h3 Dance the way you like
            div.card-box
                div.card-img
                    img(src="/static/img/2.png")
                div.card-content
                    p Unleash Your Dance Passion With Freedom
        div.card
            h3 Expert Teaching
            div.card-box
                div.card-img
                    img(src="/static/img/3.png")
                div.card-content
                    p Nurturing Excellence Through Expertise

    section#sponsorsSection
          h2 Our Partner Schools
          img(src= "/static/img/DAV_Logo.png", alt= "Sponsor Image", class= "spImage")
          img(src= "/static/img/dps_logo.png", alt= "Sponsor Image", class= "spImage")
          img(src= "/static/img/kvs_logo.png", alt= "Sponsor Image", class= "spImage")
          img(src= "/static/img/Ryan_logo.png", alt= "Sponsor Image", class= "spImage")
          
    